<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesrenesapplication.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".appcomponents.di.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".GetStartedScreen" />
        <activity android:name=".SignUpScreen" />
        <activity android:name=".CreateAccountScreen" />
        <activity android:name=".LogInScreen" />
        <activity android:name=".NavBar" />
        <activity android:name=".MentalStateDetails" />
        <activity android:name=".EditProfile" />
        <activity android:name=".QuizScreen" />
        <activity android:name=".Quiz1Screen" />
        <activity android:name=".Quiz2Screen" />
        <activity android:name=".ScoreScreen" />
        <activity android:name=".VoucherScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>